html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------- GRID ---------------------*/



/*  */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

/*.row + .row {
	margin-top: 50px;
}*/

.row {
	/* padding: 0 20px; */
	/*padding-top: 12px;*/
    *zoom: 1;
}

.row:after, .row:before {
    content: ' ';
    display: table;
}

.row:after {
    clear: both;
}

.row > [class*='col-']:first-child {
	margin-left: 0;
}

.row > [class*='col-']:last-child {
	margin-right: 0;
}

.row > [class*='col-'] {
	/* edit here*/
	margin:0 6px 0 6px
}

[class*="col-"] {
	float:left; 
	height:100%;
	/*background-color: #dedede;*/
	/*border: 1px solid #000;*/
	/*padding-right:20px;*/
}
/*[class*=col-]:last-of-type {
	padding-right:0px;
}*/

.col-1-12 {
	width: calc((100% - (12/1 - 1) * 12px) / 12 * 1);
}

.col-2-12 {
	width: calc((100% - (12/2 - 1) * 12px) / 12 * 2);
}

.col-3-12 {
	width: calc((100% - (12/3 - 1) * 12px) / 12 * 3);
}
.col-4-12 {
	width: calc((100% - (12/4 - 1) * 12px) / 12 * 4);
}

.col-5-12 {
	width: calc((100% - (12/5 - 1) * 12px) / 12 * 5);
}

.col-6-12 {
	width: calc((100% - (12/6 - 1) * 12px) / 12 * 6);
}

.col-7-12 {
	width: calc((100% - (12/7 - 1) * 12px) / 12 * 7);
}

.col-8-12 {
	width: calc((100% - (12/8 - 1) * 12px) / 12 * 8);
}

.col-9-12 {
	width: calc((100% - (12/9 - 1) * 12px) / 12 * 9);
}

.col-10-12 {
	width: calc((100% - (12/10 - 1) * 12px) / 12 * 10);
}

.col-11-12 {
	width: calc((100% - (12/11 - 1) * 12px) / 12 * 11);
}

.col-12-12 {
	width: calc((100% - (12/12 - 1) * 12px) / 12 * 12);
}

/*-------------------- BASIC LAYOUT ---------------------*/

body {
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: rgb(206,237,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(206,237,255,1) 0%, rgba(240,249,255,1) 32%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(206,237,255,1) 0%,rgba(240,249,255,1) 32%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(206,237,255,1) 0%,rgba(240,249,255,1) 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceedff', endColorstr='#f0f9ff',GradientType=1 ); /* IE6-9 */
}

.wrapper {
	margin: 0px auto;
	padding-left: 25px;
	padding-right: 25px;
	/*padding-top: 25px;*/
	padding-bottom: 25px;
	max-width: 90%;
}

.outline {
	border: 1px solid white;
	/*border-radius: 10px;
	overflow: hidden;*/
}

.loading {
	position: fixed;
    left: 0px;
    top: 0px;
	width:100%;
	height:100%;
	background-color: #FFF;
	z-index: 9999;
	display: block;
}

img.gif {
	position: absolute;
	left:50%;
	top:50%;
	width: 50px;
	height: auto;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

.white {
	position: absolute;
	left:50%;
	top:50%;
	background-color: #000;
	width: 100px;
	height: 100px;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

.photo {
	width: 100%;
	margin-top: 50px;
	border-radius: 3px;
	overflow: hidden;
	/*box-shadow: 2px 2px 40px #00000029;*/
}

.bleu2 {
	box-shadow: 2px 2px 40px #374bdd61;
}

.ysdn2 {
	box-shadow: 2px 2px 40px #6734ff4f;
}

.demo2 {
	box-shadow: 2px 2px 40px #ed214c4d;
}

.bright {
	-webkit-filter: contrast(87%); 
}

.line {
	width: 100%;
	height:1px;
	background-color: #00000024;
	margin-top: 200px;
}

.zero {
	height:0px;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


/*-------------------- TYPE ---------------------*/

::selection {
  background:#fff39b; 
}
::-moz-selection {
  background:#fff39b;  
}

h1 {
	font-family: Work Sans;
	font-size: 18px;
	/*color: #000;*/
	text-align: right;
}

h2 {
	font-family: Work Sans;
	font-size: 72px;
	/*color: #000;*/
	margin-top: 140px;
}

h3 {
	font-family: Work Sans;
	font-size: 42px;
	/*color: #000;*/
	margin-top: 100px;
	margin-bottom: -24px;
}	

h4 {
	font-family: Work Sans;
	font-size: 144px;
	line-height: 90%;
	color: #000;
	margin-top: 100px;
	/*text-align: center;*/
}

h5 {
	font-family: Work Sans;
	font-size: 18px;
	margin-top: 12px;
	/*color: #000;*/
	/*margin-top: 100px;*/
}	

.fixed {
	position: fixed;
	width: 100%;
	z-index: 100;
	padding-top: 12px;
}

.bleu {
	color: #2b44dc;
}

.ysdn {
	color: #6734ff;
}

.demo {
	color: #ef2149;
}

p.bodytext {
	font-family: Work Sans;
	font-size: 28px;
	/*color: #000;*/
	margin-top: 50px;
	line-height: 125%;
}

.empty {
	color: white;
}

.super{
 vertical-align: super;
 font-size: 18px;
 font-family: Work Sans;
 }

 b {
 	font-weight: 600;
 }

 a {
 	color: #000;
 	text-decoration: none;
 }

 a:hover {
 	opacity: 0.7;
 	-webkit-transition: opacity .5s;
 	transition: opacity .5s;
 }


 @media screen and (max-width: 960px) {
 	.wrapper {
 		max-width: none;
 	}

 	h2 {
 		font-size: 42px;
 	}

 	h3 {
 		margin-top: 50px;
 		font-size: 28px;
 	}

 	h4 {
 		font-size: 96px;
 	}

 	p.bodytext {
 		font-size: 18px;
 		line-height: 140%;
 	}

 	.line {
 		margin-top: 140px;
 	}

 	.super {
 		 vertical-align: none;
 		 display: block;
 		 margin-top: 8px;
 	}
 }

 @media screen and (max-width: 680px) {
 	h4 {
 		font-size: 84px;
 	}

 	.empty {
 		display: none;
 	}

 	.row > [class*='col-'] {
 		margin: 0 0 0 0;
 	}

 	.row {
 		padding:0 0;
 		margin: 0 0;
 	}

 	.col-4-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-1-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-8-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-6-12 {
 		float: none;
 		width: 100%;
 	}


 }