html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: WorkSans-Light;
    src: url(../src/WorkSans-Light.otf);
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(../src/WorkSans-Regular.otf);
}

@font-face {
    font-family: HNIR Extended;
    src: url(../src/HNIRExtended-Regular.otf);
}

@font-face {
    font-family: Onet Regular;
    src: url(../src/Onet-Regular.otf);
}

/*-------------------- HIDE VIDEO CONTROLS COMPLETELY ---------------------*/

/*video::-webkit-media-controls {
  display: none;
}*/

.flipy {
 	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

/*-------------------- GRID ---------------------*/

/*  */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

/*.row + .row {
	margin-top: 50px;
}*/

.row {
	/* padding: 0 20px; */
	/*padding-top: 12px;*/
    *zoom: 1;
}

.row:after, .row:before {
    content: ' ';
    display: table;
}

.row:after {
    clear: both;
}

.row > [class*='col-']:first-child {
	margin-left: 0;
}

.row > [class*='col-']:last-child {
	margin-right: 0;
}

.row > [class*='col-'] {
	/* edit here*/
	margin:0 6px 0 6px
}

[class*="col-"] {
	float:left; 
	height:100%;
	/*background-color: #dedede;*/
	/*border: 1px solid #000;*/
	/*padding-right:20px;*/
}
/*[class*=col-]:last-of-type {
	padding-right:0px;
}*/

.col-1-12 {
	width: calc((100% - (12/1 - 1) * 12px) / 12 * 1);
}

.col-2-12 {
	width: calc((100% - (12/2 - 1) * 12px) / 12 * 2);
}

.col-3-12 {
	width: calc((100% - (12/3 - 1) * 12px) / 12 * 3);
}
.col-4-12 {
	width: calc((100% - (12/4 - 1) * 12px) / 12 * 4);
}

.col-5-12 {
	width: calc((100% - (12/5 - 1) * 12px) / 12 * 5);
}

.col-6-12 {
	width: calc((100% - (12/6 - 1) * 12px) / 12 * 6);
}

.col-7-12 {
	width: calc((100% - (12/7 - 1) * 12px) / 12 * 7);
}

.col-8-12 {
	width: calc((100% - (12/8 - 1) * 12px) / 12 * 8);
}

.col-9-12 {
	width: calc((100% - (12/9 - 1) * 12px) / 12 * 9);
}

.col-10-12 {
	width: calc((100% - (12/10 - 1) * 12px) / 12 * 10);
}

.col-11-12 {
	width: calc((100% - (12/11 - 1) * 12px) / 12 * 11);
}

.col-12-12 {
	width: calc((100% - (12/12 - 1) * 12px) / 12 * 12);
}

/*-------------------- BASIC LAYOUT ---------------------*/

body {
	background-color: #000;
	/*background-image: url("../img/noise.gif");
    background-repeat: repeat;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	margin: 0px auto;
	padding-left: 144px;
	padding-right: 12px;
	padding-top: 48px;
	padding-bottom: 0px;
}

.fixed {
	position: fixed;
	width: 100%;
	padding-left: 144px;
	padding-right: 12px;
	padding-top: 12px;
	z-index: 100;
	/*mix-blend-mode: exclusion;*/
}

.outline {
	border: 1px solid white;
	/*border-radius: 10px;
	overflow: hidden;*/
}

.loading {
	position: fixed;
    left: 0px;
    top: 0px;
	width:100%;
	height:100%;
	background-color: #000;
	z-index: 9999;
	display: block;
}

img.gif {
	position: absolute;
	left:50%;
	top:50%;
	width: 50px;
	height: auto;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

.photo {
	width: 100%;
	margin-top: 50px;
	border-radius: 3px;
	overflow: hidden;
}

.oval {
	border-radius: 100%;
}

.bright {
	-webkit-filter: contrast(87%); 
}

.line {
	width: 100%;
	height:1px;
	background-color: #FFF;
	margin-top: 200px;
}

.black {
	background-color: #000;
}

/*-------------------- TYPE ---------------------*/

::selection {
  color: black;
  /*background: #FBFCC6;*/
  background: #45FF40;

}
::-moz-selection {
  color: black;
  /*background: #FBFCC6;*/
  background: #45FF40;  
}

h1 {
	font-family: WorkSans-Regular;
	font-size: 18px;
	color: #FFF;
	text-align: left;
}

h2 {
	font-family: WorkSans-Regular;
	font-size: 18px;
	color: #FFF;
	line-height: 120%;
}

h3 {
	font-family: WorkSans-Light;
	font-size: 46px;
	line-height: 120%;
	color: #FFF;
	margin-left: -4px;
	margin-top: 2px;
	line-height: 100%;
	/*line-height: 130%;*/
}	

h4 {
	font-family: WorkSans-Light;
	font-size: 46px;
	line-height: 120%;
	color: #FFF;
	margin-left: -4px;
	margin-top: 2px;
	/*line-height: 100%;*/
	line-height: 120%;
}	



textarea {
	background-color: #000;
	width: 100%;
	font-family: HNIR Extended;
	font-size: 92px;
	line-height: 170%;
	color: #FFF;
	resize:none;
	border: none;
}

#type {
	background-color: #000;
	width: 100%;
	font-family: HNIR Extended;
	font-size: 80px;
	line-height: 150%;
	color: #9292FF;
	

    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    display: block;

    min-height: 108px;
}

#typetwo {
	background-color: #000;
	width: 100%;
	font-family: Onet Regular;
	font-size: 80px;
	line-height: 150%;
	color: #F2EB99;

    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    display: block;

    min-height: 108px;
}


p.bodytext {
	font-family: WorkSans-Regular;
	font-size: 18px;
	color: #FFF;
	line-height: 120%;
}

ul {
	list-style-position: outside;
}

li {
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0;
}

.super{
 vertical-align: super;
 font-size: 18px;
 font-family: helvetica;
 }

 b {
 	font-weight: 600;
 }



 a.textlink {
 	/*color: #F6D8E7;*/
 	text-decoration: none;
 	transition: opacity .5s;
 	-webkit-transition: opacity .5s;
 	-webkit-animation: color-change 40s infinite;
 	-moz-animation: color-change 40s infinite;
 	-o-animation: color-change 40s infinite;
    -ms-animation: color-change 40s infinite;
     animation: color-change 40s infinite;
 }

 a.textlink:hover {
 	opacity: 0.7;
 	/*letter-spacing: 0.5px;*/
 	/*-webkit-transition: all ease .5s;*/
 	transition: opacity .5s;
 	-webkit-transition: opacity .5s;
 }

    @-webkit-keyframes color-change {
        0% { color: #5FDAEB; } /*blue*/
        20% { color: #FFEC49; } /*yellow*/
        40% { color: #FE6868; } /*pink*/
        60% { color: #FE6868; }	/*pink*/
        80% { color: #FFEC49; } /*yellow*/
        100% { color: #5FDAEB; } /*blue*/
    }
    @-moz-keyframes color-change {
        00% { color: #5FDAEB; } /*blue*/
        20% { color: #FFEC49; } /*yellow*/
        40% { color: #FE6868; } /*pink*/
        60% { color: #FE6868; }	/*pink*/
        80% { color: #FFEC49; } /*yellow*/
        100% { color: #5FDAEB; } /*blue*/
    }
    @-ms-keyframes color-change {
        0% { color: #5FDAEB; } /*blue*/
        20% { color: #FFEC49; } /*yellow*/
        40% { color: #FE6868; } /*pink*/
        60% { color: #FE6868; }	/*pink*/
        80% { color: #FFEC49; } /*yellow*/
        100% { color: #5FDAEB; } /*blue*/
    }
    @-o-keyframes color-change {
        0% { color: #5FDAEB; } /*blue*/
        20% { color: #FFEC49; } /*yellow*/
        40% { color: #FE6868; } /*pink*/
        60% { color: #FE6868; }	/*pink*/
        80% { color: #FFEC49; } /*yellow*/
        100% { color: #5FDAEB; } /*blue*/
    }
    @keyframes color-change {
        0% { color: #5FDAEB; } /*blue*/
        20% { color: #FFEC49; } /*yellow*/
        40% { color: #FE6868; } /*pink*/
        60% { color: #FE6868; }	/*pink*/
        80% { color: #FFEC49; } /*yellow*/
        100% { color: #5FDAEB; } /*blue*/
    }

 a.imagelink {
 	/*color: #F6D8E7;*/
 	-webkit-transition: opacity .5s;
 	-webkit-animation: color-change 40s infinite;
 	-moz-animation: color-change 40s infinite;
 	-o-animation: color-change 40s infinite;
    -ms-animation: color-change 40s infinite;
     animation: color-change 40s infinite;
 	text-decoration: none;
 	font-family: WorkSans-Regular;
	font-size: 18px;
	line-height: 120%;
 	transition: opacity .5s;
 	-webkit-transition: opacity .5s;
 }

  a.imagelink:hover {
 	opacity: 0.7;
 	/*letter-spacing: 0.5px;*/
 	/*-webkit-transition: all ease .5s;*/
 	transition: opacity .5s;
 	-webkit-transition: opacity .5s;
 }

img.pic {
	width: 100%;
	height: auto;
}

img.miru {
	width: 140px;
	height: auto;
	float: right;
}

span.lig {
	font-feature-settings: "kern" 1, "liga" 1, "dlig";
	font-variant-ligatures: discretionary-ligatures;
}

.curve {
	/*border-radius: 0px 40px;*/
}

.space {
	margin-top: 132px;
} 

.medspace {
	margin-top: 48px;
} 

.smallspace {
	margin-top: 12px;
} 

.smallspace2 {
	margin-top: 0px;
}

.bsmallspace {
	margin-bottom: 12px;
}

.bsmallspaceoval {
	margin-bottom: 6px;
}

.round {
	border-radius: 4px;
}

.bright {
	-webkit-filter: contrast(85%); 
}

.infomobi {
 		display: none;
 	}

.ac {
	float:left;
}



 

/*-------------------- TEST RECTANGLES ---------------------*/

.redrect {
	width: 100%;
	height: 800px;
	background-color: #FF0000;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

.bluerect {
	width: 100%;
	height: 800px;
	background-color: #394693;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

.greenrect {
	width: 100%;
	height: 200px;
	background-color: #69935B;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

.tanrect {
	width: 100%;
	height: 400px;
	background-color: #A9A575;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

.yellowrect {
	width: 100%;
	height: 900px;
	background-color: #D8DB00;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

.purplerect {
	width: 100%;
	height: 500px;
	background-color: #56127C;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

footer {
	width: 100%;
	margin-bottom: 48px;
}


/*-------------------- MEDIA QUERIES ---------------------*/

@media screen and (min-width: 1444px) {
 	p.bodytext {
 		font-size: 24px;
 	}

 	h1 {
 		font-size: 24px;
 	}

 	h2 {
 		font-size: 24px;
 	}

 	h3 {
 		font-size: 60px;
 	}

 	h4 {
 		font-size: 60px;
 	}

 	a.imagelink {
 		font-size: 24px;
 	}


 }






@media screen and (max-width: 960px) {
 	.wrapper {
 		padding-left: 4%;
 		padding-right: 4%;
 	}

 	.fixed {
 		padding-left: 4%;
 		padding-right: 4%;
 	}

 	li {
		margin-left: 38px;
	}

	#type {
		font-size: 54px;
		min-height: 81px;
	}
 }

 @media screen and (max-width: 860px) {
 	.row > [class*='col-'] {
 		margin: 0 0 0 0;
 	}

 	.row {
 		padding:0 0;
 		margin: 0 0;
 	}

 	.space {
 		margin-top: 120px;
 	}

 	.medspace {
		margin-top: 36px;
	} 

 	.empty {
 		display: none;
 	}

 	.bodytext {
 		width: 75%;
 	}

 	.infohide {
 		display: none;
 	}

 	.infomobi {
 		display: block;
 		text-align: right;
 		float: right;
 	}

 	.smallspace2 {
		margin-top: 12px;
	}

	h3 {
		font-size: 30px;
		margin-left: -2px;
	}

	h4 {
		font-size: 30px;
		margin-left: -2px;
	}

	li {
		margin-left: 28px;
	}


 	.col-1-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-2-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-3-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-4-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-5-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-6-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-7-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-8-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-9-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-10-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-11-12 {
 		float: none;
 		width: 100%;
 	}

 	.col-12-12 {
 		float: none;
 		width: 100%;
 	}

 	#type {
		font-size: 48px;
		min-height: 72px;
	}

	#typetwo {
		font-size: 48px;
		min-height: 72px;
	}
}

@media screen and (max-width: 500px) {
	
	.bodytext {
		width: 100%;
	}

	#type {
		font-size: 32px;
		min-height: 48px;
	}

	#typetwo {
		font-size: 32px;
		min-height: 48px;
	}


}


