/*@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Work+Sans');*/

@font-face {
    font-family: WorkSans-Light;
    src: url(../src/WorkSans-Light.otf);
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(../src/WorkSans-Regular.otf);
}

@font-face {
    font-family: WorkSans-Medium;
    src: url(../src/WorkSans-Medium.otf);
}

@font-face {
    font-family: WorkSans-SemiBold ;
    src: url(../src/WorkSans-SemiBold.otf);
}

@font-face {
	font-family: CormorantGaramond-Regular;
    src: url(../src/CormorantGaramond-Regular.ttf);
}

@font-face {
	font-family: CormorantGaramond-SemiBold;
    src: url(../src/CormorantGaramond-SemiBold.ttf);
}

@font-face {
	font-family: CormorantGaramond-Light;
    src: url(../src/CormorantGaramond-Light.ttf);
}


@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

.loading {
	position: fixed;
	width:100%;
	height:100%;
	background-color: #EFEBF8;
	z-index: 400;
}

img.gif {
	position: absolute;
	left:50%;
	top:50%;
	width: 80px;
	height: 80px;
	translate-x:;

}

u {
	text-decoration: none;
	border-bottom: 1px solid
}

b {
	font-weight: 600;
}

* {
	margin:0;
	padding:0;
}

a {
	color: #747279;
	border-bottom: 1px dotted #747279;
    text-decoration: none;
    stroke-dashoffset: 50%;
	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;

    -webkit-backface-visibility: hidden;
}


a:hover {
	color: #D8D7DC;
	border-bottom: 1px dotted #D8D7DC;
    text-decoration: none;
	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;

}

a.instagram {
	display: inline-block;
	margin-right: 40px;

}

a.twitter {
	display: inline-block;
	margin-right: 40px;

}

a.dribbble {
	display: inline-block;
	margin-right: 30px;

}

a.linkedin {
	display: inline-block;

}

::selection {
  color: #FFF; 
}
::-moz-selection {
  color: #FFF;  
}

/*----------- ANIMATE ------------*/

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*---------------- BODY -----------------*/

html, body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	padding-top: 30px;

}

.wrapper {
	top:0px;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	margin: 0px auto;
	margin-bottom: 0px;
	max-width: 1400px;
}

.black {
	background-color: #EFEBF8;
	/*background-color: #000;*/
}

#main {
	/*background-color: #F2F2F2;*/
	

	width:100%;
	height:100%;
	background-image: linear-gradient(-180deg, #2D03FF 0%, #C580E1 100%);
	/*background-color:#0E0E0E;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#mainfixed {
	position: fixed;
	z-index: 0;
	width:100%;
	height:100%;
	top: 0px;
	background-image: linear-gradient(-180deg, #2D03FF 0%, #C580E1 100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*-------------------- GRID ---------------------*/

/*  */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.row {
	/* padding: 0 20px; */
	padding-top: 12px;
    *zoom: 1;
}

.row:after, .row:before {
    content: ' ';
    display: table;
}

.row:after {
    clear: both;
}

.row > [class*='col-']:first-child {
	margin-left: 0;
}

.row > [class*='col-']:last-child {
	margin-right: 0;
}

.row > [class*='col-'] {
	/* edit here*/
	margin:0 6px 0 6px
}

[class*="col-"] {
	float:left; 
	height:100%;
	/*background-color: #dedede;*/
	/*border: 1px solid #000;*/
	/*padding-right:20px;*/
}
/*[class*=col-]:last-of-type {
	padding-right:0px;
}*/

.col-1-12 {
	width: calc((100% - (12/1 - 1) * 12px) / 12 * 1);
}

.col-2-12 {
	width: calc((100% - (12/2 - 1) * 12px) / 12 * 2);
}

.col-3-12 {
	width: calc((100% - (12/3 - 1) * 12px) / 12 * 3);
}
.col-4-12 {
	width: calc((100% - (12/4 - 1) * 12px) / 12 * 4);
}

.col-5-12 {
	width: calc((100% - (12/5 - 1) * 12px) / 12 * 5);
}

.col-6-12 {
	width: calc((100% - (12/6 - 1) * 12px) / 12 * 6);
}

.col-7-12 {
	width: calc((100% - (12/7 - 1) * 12px) / 12 * 7);
}

.col-8-12 {
	width: calc((100% - (12/8 - 1) * 12px) / 12 * 8);
}

.col-9-12 {
	width: calc((100% - (12/9 - 1) * 12px) / 12 * 9);
}

.col-10-12 {
	width: calc((100% - (12/10 - 1) * 12px) / 12 * 10);
}

.col-11-12 {
	width: calc((100% - (12/11 - 1) * 12px) / 12 * 11);
}

.col-12-12 {
	width: calc((100% - (12/12 - 1) * 12px) / 12 * 12);
}



/*------------------- NAV ----------------------*/

.nav-bar {
    /* Rectangle 36: */
	/*background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.00) 100%);*/
	background-color: #EFEBF8;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.24s ease-in-out;
    width: 100%;
    z-index: 10000;
}

.nav-up {
    top: -50px;
}

nav {
	font-size: 1.15rem;
	font-family: WorkSans-Regular;
	font-weight: normal;
	padding-top: 11.4px;
	letter-spacing: -0.5px;


	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#left {
    float:left;
    width:auto;
    height: auto;
    text-align: left;
}

#center {
    display: inline-block;
    margin:0 auto;
  	width:auto;
    height: auto;
    text-align: center;
    padding-top:0.5px;    
}

#right {
    float:right;
   	width:auto;
    height: auto;
    text-align: right;
}

/*------------------------------------------*/


.badge-container {display:flex; flex-direction:row;} 
 
.badge {
	position:relative;
	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;

    -webkit-backface-visibility: hidden;
}

img {
	max-width:100%;
}

.dash {
	margin: 0px auto;
	margin-top:13px;
	margin-bottom: 11px;
	width:75%;
	border-bottom: 1px dotted #747279;
}


.dashline {
	margin-top: 40px;
	float:left;
	width:100%;
	border-bottom: 1px solid #D8D7DC;
	stroke-dashoffset: 50%;

}

.badge-hover {
	position:absolute;
	width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
    -webkit-backface-visibility: hidden;
}

.badge-center-content {
	position:relative;
	top:50%;
	width:100%;
	transform: translateX(0%) translateY(-50%);
}

.badge-center-content > h7 {
	position: relative;
	display:block;
	text-align: center;
	width:100%;
}

h4 {
	 /*Main — Project Title */
	font-family: CormorantGaramond-Light;
	font-size: 2.05rem;
	color: #747279;
	font-weight: 100;
	line-height: 90%;
    padding: 0;
    text-align:center;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.badge-hover:hover, .badge-hover.hover {
	display:block;
	opacity: 1; 
	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
    -webkit-backface-visibility: hidden;
}

/*.badge:hover > h4 { opacity: 1; 
	
}*/

.blur {
	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
	
    opacity: 1;
	-webkit-backface-visibility: hidden;
}


.badge:hover > .blur {
	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
	
    opacity: 0.1;
	-webkit-backface-visibility: hidden;
}


h5 {
	/*Project — Title */
	/*margin-top: 0px;*/
	font-family: CormorantGaramond-Light;
	/*font-family: 'Cormorant Garamond', serif;*/
	font-size: 2.05rem;
	/*color: #27FFCF;*/
	color: #747279;
	font-weight: 100;
	line-height: 150%;
	text-align: center;
	margin-top: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;

} 

h6 {
	/*Project — Project Subtitle */
	font-family: WorkSans-Light;
	/*font-family: 'Work Sans', sans-serif;*/
	font-weight: 100;
	font-size: 1.7rem;
	/*color: #27FFCF;*/
	color: #747279;
	line-height: 150%;
	text-align: center;
	margin-top: -4px;
	margin-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*letter-spacing: -0.04rem;*/

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
	
} 

h7 {
	/*Project — Project Subtitle */
	
	font-family: WorkSans-Light;
	/*font-family: 'Work Sans', sans-serif;*/
	font-weight: 100;
	font-size: 1.7rem;
	/*color: #27FFCF;*/
	color: #747279;
	line-height: 150%;
	margin-top: -4px;
	margin-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*letter-spacing: -0.04rem;*/

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
	
} 

h8 {
	/*Project — Title */
	/*margin-top: 0px;*/
	font-family: CormorantGaramond-Light;
	/*font-family: 'Cormorant Garamond', serif;*/
	font-size: 2.05rem;
	/*color: #27FFCF;*/
	color: #747279;
	font-weight: 100;
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;

} 

p.title {
	/*font-family: 'CormorantGaramond', serif;*/
	font-family: CormorantGaramond-SemiBold;
	font-size: 1.35rem;
	color: #747279;
	/*font-weight: SemiBold;*/
	font-weight: 100;
	line-height: 123%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding-right: 15px;
	margin-top: 79px;
	margin-bottom: 40px;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
	
}

p.para {
	/*font-family: 'Work Sans', sans-serif;*/
	font-family: WorkSans-Regular;
	font-weight: 100;
	font-size: 1.15rem;
	color: #747279;
	line-height: 150%;
	margin-top: 80px;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.5px;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

p.title2 {
	/*font-family: 'CormorantGaramond', serif;*/
	font-family: CormorantGaramond-SemiBold;
	font-size: 1.35rem;
	color: #747279;
	/*font-weight: SemiBold;*/
	font-weight: 100;
	line-height: 123%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding-right: 15px;
	margin-top: 26px;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
	
	
}

p.para2 {
	/*font-family: 'Work Sans', sans-serif;*/
	font-family: WorkSans-Regular;
	font-weight: 100;
	font-size: 1.15rem;
	color: #747279;
	line-height: 150%;
	margin-top: 0px;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.5px;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

p.caption {
	font-family: WorkSans-Regular;
	font-weight: normal;
	font-size: 0.8rem;
	color: #747279;
	/*color: #27FFCF;*/
	line-height: 130%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	padding-right: 20px;

	-webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
}



.extra  {
	width: 100%;
	height:104px;
}

.extrahalf  {
	width: 100%;
	height:52px;
}


#hero {
	width: 100%;
	height: 440px;
	background-color: #FFF;
}

p.opener {
	font-family: CormorantGaramond-Regular;
	font-size: 48px;
	color: #FFB1D5;
	line-height: 104%;
	margin-left:25%;
	margin-top: 240px;
	margin-bottom:20px;
	width:75%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.bodywrapper {
	width: 50%;
	margin: 0px auto;
	padding-top: 80px;

} 

/*p.bodycopy {
	
	font-family: WorkSans-Regular;
	font-weight: normal;
	font-size: 24px;
	color: #FFB1D5;
	line-height: 140%;
	margin-top:-40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}*/

.photo {
	visibility: hidden;
	margin-top:0px;
	margin-bottom: 0px;
	width: 100%;
	height: auto;
}

.portrait {
	margin-top:0px;
	margin-bottom: 0px;
	width: 40%;
	height: auto;
	max-width: 500px;
	min-width: 200px;

}

.fadeIn {
        -webkit-animation: animat_show 1s;
        animation: animat_show 1s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

.backlink {
	margin-top: 20px;
	float: left;
	font-family: CormorantGaramond-Regular;
	font-size: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 70%;
}

.nextlink {
	margin-top: 20px;
	float: right;
	font-family: CormorantGaramond-Regular;
	font-size: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 70%;
	text-align: right;
}

.footerwrap::after {
    content:"";
    display:table;
    clear:both;
}


.social {
	margin-top: 40px;
	float: right;
	margin-bottom: 40px;

}

.social::after {
	content:"";
    display:table;
    clear:both;
}

.footerwrap {
	float: left;
	margin-top: 40px;
	margin-bottom: 50px;
}

.footerlink {
	font-family: WorkSans-Regular;
	font-size: 1.15rem;
	font-weight: normal;
	letter-spacing: -0.5px;
	line-height: 240%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

/*MEDIA QUERIES*/

@media screen and (max-width: 960px) {
	/*.wrapper {
	padding-left: 10%;
	padding-right: 10%;

	}*/

	/*.row {
		padding-top:0;
	}*/

	.width {
		width: 70%;
	}

	.col-1-12 {
	display: none;
	width:0;
	}

	.col-3-12 {
		float: none;
		width: 100%;
		padding-left:10%;
		padding-right:10%;
	}

	.col-7-12 {
		float: none;
		width: 100%;
		padding-left:10%;
		padding-right:10%;
	}

	.col-10-12 {
		float: none;
		width: 100%;
		margin: 0 0;
	}

	.col-8-12 {
		
		width: 100%;
		margin: 0 0;
	}

	.col-4-12 {
		
		display: none;
	}


	p.para {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	p.title {
		margin-top: 80px;
		margin-bottom: 0px;
	}

	h5 {
		margin-top: 20px;
	}

	.row > [class*='col-'] {
		margin: 0 0 0 0;
	}

	.portrait {
		margin-bottom: 52px;
	}

}

@media screen and (max-width: 680px) {
	.row {
		padding:0 0;
		margin: 0 0;
	}

	.col-3-12 {
		padding-left:0%;
		padding-right:0%;
	}

	.col-7-12 {
		padding-left:0%;
		padding-right:0%;
	}

	.col-6-12 {
		float: none;
		width: 100%;
		padding-left:0%;
		padding-right:0%;
		margin: 0 0;
	}

	.wrapper {
		padding-left: 4%;
		padding-right: 4%;
	}

	p.para {
		
		font-size: 1rem;
		margin-bottom: 20px;
	}

	p.title {
		font-size: 1.16rem;
		margin-top: 60px;
	}

	p.para2 {
		
		font-size: 1rem;
		margin-bottom: 20px;
	}

	p.title2 {
		font-size: 1.16rem;
		margin-top: 60px;
	}

	p.caption {
		margin-bottom: 20px;
		margin-left: 0px;
		margin-right: 0px;
		padding-right: 0px;
	}

	h5 {
		font-size:1.55rem;
	}

	h6 {
		font-size:1.3rem; 
	}

	h7 {
		font-size:1.3rem; 
	}

	h8 {
		font-size:1.55rem; 
	}

	h4 {
		font-size:1.55rem; 
	}

	nav {
		font-size: 1rem;
	}

	.footerlink {
		font-size: 1rem;
	}

	.footerwrap {
		margin-bottom: 80px;
	}
}
